<!-- .row>.col*2 -->
<div class="row">
  <div class="col">
    <app-playlist-list />
  </div>
  <div class="col">
    <!-- <app-playlist-detail [hidden]="mode !== 'details'" />
    <app-playlist-editor [hidden]="mode !== 'editor'" /> -->

    <!-- ERROR Error: NG0201: No provider for _TemplateRef found. 
        Find more at https://angular.io/errors/NG0201 -->
    <!-- <app-playlist-detail [ngIf]="true"/> -->

    <!-- ViewContainerRef -->
    <!-- <ng-container></ng-container> -->

    <!-- <ng-template [ngIf]="mode === 'details'"><app-playlist-detail /></ng-template> -->

    <ng-template
      [ngIf]="mode === 'details'"
      [ngIfThen]="detailsRef"
      [ngIfElse]="editorRef"
    ></ng-template>


    <!-- <ng-template [ngIf]="mode === 'details'" -->
    <ng-container *ngIf="mode === 'details'; then detailsRef; else editorRef" data-placki/>


    <button class="btn btn-primary" (click)="showEditor()">Edit</button>
    <button class="btn btn-danger" (click)="showDetails()">Details</button>
  </div>
</div>

<ng-template #detailsRef>
  <app-playlist-detail />
</ng-template>

<ng-template #editorRef>
  <app-playlist-editor />
</ng-template>
