<!-- .row>.col*2 -->
<div class="row">
  <div class="col">
    <app-playlist-list #listRef />
  </div>
  <div class="col">
  
    @if (mode ==='details') {
      <app-playlist-detail />
    }@else {
      <app-playlist-editor />
    }

    <!--  -->

    @switch (mode) {
      @case ('details') {
        <app-playlist-detail />
      } 
      @case ('editor') {
        <app-playlist-editor />
      } 
    }

    <!--  -->
    <div>-- Placki ---</div>
    <!--  -->

    <ng-container *ngIf="mode === 'details'; then detailsRef; else editorRef" />

    <ng-container [ngSwitch]="mode">
      <app-playlist-detail *ngSwitchCase="'details'" />
      <app-playlist-editor *ngSwitchCase="'editor'" />
    </ng-container>

    <button class="btn btn-primary" (click)="showEditor()">Edit</button>
    <button class="btn btn-danger" (click)="showDetails()">Details</button>
  </div>
</div>

<ng-template #detailsRef>
  <app-playlist-detail />
</ng-template>

<ng-template #editorRef>
  <app-playlist-editor />
</ng-template>
