<form (submit)="submit()" [formGroup]="searchForm">
  <div class="input-group">
    <input
      type="text"
      formControlName="query"
      class="form-control"
      placeholder="Search"
    />

    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>

  <!-- <div *ngIf="searchForm.get("query") as field">  -->
  @if (searchForm.get("query"); as field) {
    @if (field.touched || field.dirty) {
      @if (field.hasError("required")) {
        <span class="text-danger">Query is required</span>
      }

      @if (field.getError("minlength"); as error) {
        <span
          >Query should have at least {{ error.requiredLength }} characters</span
        >
      }

      @if (field.getError("censor"); as error) {
        <span>Query cant have "{{ error.badword }}" word</span>
      }
    }
  }
  
  <div class="float-end" (click)="showAdvanced = !showAdvanced">
    Show Advanced
  </div>

  <div class="clearfix"></div>

  <div *ngIf="showAdvanced" class="row  mt-3" formGroupName="advanced">
    <div class="col">
      <span>Type:</span>
      <select formControlName="type" class="form-control">
        <option value="album">Album</option>
        <option value="artist">Artist</option>
      </select>
    </div>

    <div class="col">
      <div class="list-group">
        <div
          class="list-group-item"
          *ngFor="let market of markets.controls"
          [formGroup]="market"
        >
          <input type="text" formControlName="code" class="form-control" />
        </div>
        <div class="list-group-item" (click)="addMarket()">+ Add market</div>
      </div>
    </div>
  </div>
  <!-- <pre>  {{ searchForm.value | json }}</pre> -->
</form>
