<div class="row">
    <div class="col">
        <h1 class="display-1">Album titler here</h1>
        album id
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- <app-album-card/> -->
    </div>
    <div class="col">
        <dl>
            <dt>Artist</dt>
            <dd>artists[0].name</dd>
            <dt>Release Date</dt>
            <dd>123123213</dd>
            <dt>Number of tracks</dt>
            <dd>123</dd>
        </dl>

        <div class="list-group">
            <div class="list-group-item">1. Track 01</div>
            <div class="list-group-item">2. Track 02</div>
        </div>
    </div>
</div>