@if (album | async; as album) {
  <div class="row">
    <div class="col">
      <h1 class="display-1">{{ album.name }}</h1>
      {{ album.id }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-album-card [album]="album" />
    </div>
    <div class="col">
      <dl>
        <dt>Artist</dt>
        <dd>{{ album.artists[0].name }}</dd>
        <dt>Release Date</dt>
        <dd>{{ album.release_date | date: "DD/MM/YYYY" }}</dd>
        <dt>Number of tracks</dt>
        <dd>{{ album.total_tracks }}</dd>
      </dl>

      <div class="list-group">
        @for (track of album.tracks.items; track track.id) {
          <div class="list-group-item">
            {{ track.track_number }} {{ track.name }}
          </div>
        } @empty {
          <div class="list-group-item">No tracks</div>
        }
      </div>
    </div>
  </div>
}
