<app-navigation #navApi>
  <!-- {{navApi.open}} -->

  <li #appLink appLink class="nav-item">
    <a class="nav-link" routerLinkActive="placki active" routerLink="/playlists"
      >Playlists</a
    >
  </li>

  <li #appLink appLink class="nav-item" routerLinkActive="placki" #rla="routerLinkActive">
    <a class="nav-link" routerLinkActive="placki active" [routerLink]="['/music']">
      {{ rla.isActive? '&raquo;' : ''}}
      Search</a>
  </li>

  <ng-container ngProjectAs="profile">
    <button class="btn btn-dark" (click)="login()">Login</button>
  </ng-container>

  <!-- Content -->
  <router-outlet />
</app-navigation>
