<dl
  id="playlist_{{ playlist.id }}"
  [title]="playlist.name"
  [attr.data-playlist-id]="playlist.id"
>
  <dt>Name</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public</dt>
  <dd [class.isPublic]="playlist.public" [class.isPrivate]="!playlist.public">
    {{ playlist.public | yesno }}
  </dd>

  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>


<!-- <img [ngSrc]="playlist.images[0].url" width="200" height="100"> -->

<!-- // Dependency Injection in HTML

const d = new NgStyle(<dd/>, DiffSerivce, RenderSrv)

d.ngStyle = {
  color: playlist.public ? 'green' : 'red',
  'border-bottom': '1px solid'
}
d.ngDoCheck() -->

<!-- <dd
  [ngStyle]="{
    color: playlist.public ? 'green' : 'red',
    'border-bottom': '1px solid'
  }"
>
  {{ playlist.public | yesno }}
</dd> -->

<!-- 

   
  <dd [style.color]="playlist.public ? 'green' : 'red'">
   {{ playlist.public ? 'Yes' : 'No'}}
    {{ playlist.public | yesno }}
  </dd>


  <dd [class]="playlist.public ? 'isPublic' : 'isPrivate'">
    {{ playlist.public | yesno }}
  </dd>


    // Dependency Injection in HTML

    const d = new NgStyle(<dd/>, DiffSerivce, RenderSrv)
    d.ngStyle = {
      color: playlist.public ? 'green' : 'red',
      'border-bottom': '1px solid'
    }
    d.ngDoCheck()
   

  <dd
    [ngStyle]="{
      color: playlist.public ? 'green' : 'red',
      'border-bottom': '1px solid'
    }"
  >
    {{ playlist.public | yesno }}
  </dd>
  
  <dd
    [ngClass]="{
      isPublic: playlist.public,
      isPrivate: !playlist.public
    }"
  >
    {{ playlist.public | yesno }}
  </dd>
  
  <dd
    [ngClass]="getClasses()"
  >
    {{ playlist.public | yesno }}
  </dd>


 -->
