<dl
  id="playlist_{{ playlist.id }}"
  [title]="playlist.name"
  [attr.data-playlist-id]="playlist.id"
>
  <dt>Name</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Public</dt>
  <dd [style.color]="playlist.public ? 'green' : 'red'">
    <!-- {{ playlist.public ? 'Yes' : 'No'}} -->
    {{ playlist.public | yesno }}
  </dd>

  <dd [class]="playlist.public ? 'isPublic' : 'isPrivate'">
    {{ playlist.public | yesno }}
  </dd>

  <dd [class.isPublic]="playlist.public" 
      [class.isPrivate]="!playlist.public">
    {{ playlist.public | yesno }}
  </dd>

  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>
