<div aria-live="polite" aria-atomic="true" class="position-relative w-100">
  <!-- Position it: -->
  <!-- - `.toast-container` for spacing between toasts -->
  <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
  <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
  <div class="toast-container top-0 end-0 p-3">
    @for (notification of notifications; track $index) {
      <div
        class="toast align-items-center show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <!-- <div class="toast-header">
          <img src="..." class="rounded me-2" alt="..." />
          <strong class="me-auto">Bootstrap</strong>
          <small class="text-body-secondary">just now</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div> -->

        <div class="align-items-center d-flex justify-content-between" 
        [class.bg-danger]="notification.name === 'Error'">
          <div
            class="toast-body"
            [class.text-white]="notification.name === 'Error'"
          >
            {{ notification.message }}
          </div>
          <button
            type="button"
            class="btn-close me-2 m-auto" 
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    }
  </div>
</div>
